/* Thuộc tính chung */
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(238, 77, 45);
  --boder-color: #dbdbdb;

  --navbar-height: 34px;
  --header-height: 120px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
}
* {
  box-sizing: inherit;
}
/* Tạo thuộc tính chung của thẻ HTML */
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* Logic màn hình khi thống to,thu nhỏ */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* animation */
@keyframes lowa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* khi nào muốn hiện lại đổi thành flex */
  display: none;
  animation: lowa linear 0.1s;
}
/* tạo 1 lớp ảo vị trí lớp con của modal  */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/* tạo 1 lớp đè lên trên lớp overlay */
.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  /* thay đổi thứ tự kế thừa: cho đứng trước layout bằng index */
  z-index: 1;
  animation: growth linear 0.1s;
}
/* button style */
.btn {
  height: 34px;
  min-width: 142px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* tạo màu khi di chuyển chuột vào button */
.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* khi không muốn button được bấm */
.btn.btn--disable {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}
/* màu chủ đạo cho button */
.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}
/* căn chỉnh cho nút */
.btn--size-s {
  height: 30px;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 8px;
}
